/* zero */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

input {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #000000;
  max-width: 1000px;
  width: 100%;
  outline: none;
}

.container {
  max-width: 1612px;
  width: 100%;
  margin: auto;
}

/* header */

.header {
  padding-top: 85px;
}

.nav__menu {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  line-height: 52px;
  color: #58a9a5;
  margin-left: 14px;
}

.link {
  margin-right: 85px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 38px;
  color: #404242;
  position: relative;
}

.link:last-child {
  margin-right: 0;
}

.link:hover::after {
  position: absolute;
  content: "";
  width: 48px;
  height: 6px;
  top: 38px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  right: 0px;
  background: #fec62d;
  border-radius: 21px;
  margin: auto;
  /* text */
}

.link:hover {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  color: #58a9a5;
}

.btn_nav {
  background: #58a9a5;
  border-radius: 15px;
  padding: 21px 88px 21px 88px;
  /* text */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 38px;
  color: #ffffff;
}

.nav_links {
  align-items: center;
  display: flex;
}

/* promo */

.wrapp__promo {
  padding-top: 174px;
  display: flex;
  justify-content: space-between;
}

.title__promo {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 105px;
  color: #1c2323;
  max-width: 674px;
  width: 100%;
  margin-bottom: 50px;
}

.text__promo {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  color: #404242;
  max-width: 743px;
  margin-bottom: 50px;
  width: 100%;
}

.brn__promo {
  background: #58a9a5;
  border-radius: 20px 20px 20px 0px;
  /* text */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  color: #ffffff;
  padding: 21px 90px 21px 83px;
}

.promo__img {
  position: relative;
  z-index: 1;
  width: 723px;
  height: 723px;
  display: flex;
  align-items: center;
}

.promo__img::after {
  position: absolute;
  content: "";
  width: 833px;
  height: 782px;
  top: -50px;
  left: -50px;
  background: url(../img/icon/bg.svg);
}

/* works */

.works {
  padding-top: 120px;
}

.title__works {
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 105px;
  text-align: center;
  color: #1c2323;
  margin-bottom: 20px;
}

.text__works {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  color: #404242;
  max-width: 506px;
  width: 100%;
  margin: auto;
}

.text_video {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #486958;
  max-width: 328px;
  width: 100%;
  margin-bottom: 41px;
}

.sub__text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #486958;
}

.block__bg {
  max-width: 1063px;
  width: 100%;
  position: relative;
  z-index: 1;
}

.block__bg::after {
  position: absolute;
  content: "";
  width: 1063px;
  height: 350px;
  top: 0;
  left: 0;
  background: url(../img/video.png) no-repeat center;
  background-size: cover;
  z-index: -1;
}

.video__block {
  display: flex;
  padding-top: 71px;
  padding-bottom: 150px;
}

.text_block {
  padding-left: 115px;
  padding-bottom: 89px;
  padding-top: 70px;
  background: #ccf0e6;
  border-radius: 0px 10px 10px 0px;
  padding-right: 106px;
}

.round__play {
  position: absolute;
  top: 50%;
  right: -65px;
}

.round__one {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 65px;
  width: 128px;
  height: 128px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.round__two {
  background: #ffffff;
  border-radius: 65px;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play_icon {
  width: 27px;
  height: 49px;
  background: url(../img/icon/Vector.svg) no-repeat center;
  display: flex;
}

.our__block {
  display: flex;
  justify-content: space-between;
}

.title__our {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #1c2323;
  max-width: 487px;
  width: 100%;
  padding-bottom: 50px;
}

.text_our {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  color: #486958;
  max-width: 708px;
  width: 100%;
}

/* our__project */

.our__project {
  padding-top: 120px;
}

.title__project {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 105px;
  text-align: center;
  color: #1c2323;
  padding-bottom: 15px;
}

.sub_tit_proj {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  color: #404242;
  position: relative;
}

.sub_tit_proj::after {
  position: absolute;
  content: "";
  width: 135px;
  height: 2px;
  top: 91px;
  left: 46%;
  right: 0;
  background: #58a9a5;
}

.sub_tit_proj::before {
  position: absolute;
  content: "";
  width: 135px;
  height: 2px;
  top: 101px;
  left: 46%;
  right: 0;
  background: #58a9a5;
}

.title__gal {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #58a9a5;
  padding-bottom: 5px;
}

.text_gal {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #486958;
  max-width: 453px;
  width: 100%;
  padding-bottom: 35px;
}

.gallery {
  padding-top: 120px;
  display: flex;
  justify-content: space-between;
}

.gal__down {
  padding-top: 35px;
}

/* testimonial */

.testimonial {
  padding-top: 250px;
}

.title_testy {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 105px;
  text-align: center;
  color: #1c2323;
}

.block__firm {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

/* blog */

.blog {
  background: #ccf0e6;
  height: 700px;
  display: flex;
}

.wrapp__cont {
  padding-left: 135px;
  padding-top: 50px;
}

.numb {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 105px;
  color: #58a9a5;
}

.text_tab {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  color: #58a9a5;
  max-width: 204px;
  width: 100%;
}

.tab__one {
  margin-right: 117px;
}

.tab__two {
  margin-right: 117px;
}

.set_one {
  max-width: 119px;
  width: 100%;
}

.set_two {
  max-width: 169px;
  width: 100%;
}

.set_free {
  max-width: 205px;
  width: 100%;
}

.tabs_wrap {
  display: flex;
}

.text_blog {
  display: flex;
  max-width: 752px;
  width: 100%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 38px;
  color: #486958;
  margin-top: 140px;
  position: relative;
  z-index: 1;
}

.name__user {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 500;
  font-size: 25px;
  line-height: 38px;
  color: #58a9a5;
  margin-top: 30px;
}

.text_blog::after {
  position: absolute;
  content: "";
  width: 131px;
  height: 100px;
  top: -40px;
  left: -40px;
  background: url(../img/icon/icon_strip.svg) no-repeat;
  z-index: -1;
}

/* footer */

.footer {
  padding-top: 240px;
  padding-bottom: 100px;
}

.title__foot {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 105px;
  text-align: center;
  color: #1c2323;
}

.text_sub_footer {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 38px;
  color: #486958;
  max-width: 398px;
  width: 100%;
  margin: auto;
  position: relative;
}

.text_sub_footer::after {
  position: absolute;
  content: "";
  width: 135px;
  height: 2px;
  top: 101px;
  left: 0;
  right: 0;
  background: #58a9a5;
}

.text_sub_footer::before {
  position: absolute;
  content: "";
  width: 135px;
  height: 2px;
  top: 111px;
  left: 0;
  right: 0;
  background: #58a9a5;
}

.form__footer_wrapper {
  max-width: 1109px;
  width: 100%;
}

.form__footer {
  display: flex;
  flex-direction: column;
  border: 1px solid #000000;

  align-items: center;
}

.name::placeholder {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 38px;
  color: #486958;
}

.name {
  margin-bottom: 57px;
  padding-top: 57px;
}

.address::placeholder {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 38px;
  color: #486958;
}

.address {
  margin-bottom: 57px;
}

.desc::placeholder {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 38px;
  color: #486958;
}

.desc {
  margin-bottom: 20px;
}

.wrapp__fott {
  display: flex;
  justify-content: space-between;
}

.btn__foot_form {
  background: #58a9a5;
  border-radius: 20px 20px 20px 0px;
  padding: 21px 73px 21px 73px;
  /* text */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  /* identical to box height */

  color: #ffffff;
}

.wrapp_btn__foot {
  display: flex;
  max-width: 1109px;
  width: 100%;
  justify-content: right;
  padding-right: 54px;
  padding-bottom: 35px;
}
